.cart-button {
    display: inline-block;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 14px;
    line-height: 14px;
    background-color: #998675;
    color: #ffffff;
    padding: 20px 30px;
    border: none;
    border-radius: 2px;
}

.cart-button:hover {
    background-color: #736357;
    color: #ffffff;
    border: none;
}

.small-btn {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-family: sans-serif;
    /*font-weight: 800;*/
    /*font-size: 14px;*/
    /*line-height: 14px;*/
    background-color: #998675;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}


.goods-list {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.goods-item {
    border: 1px solid black;
    min-width: 150px;
    padding: 10px;
}

.goods-item__name {
    text-align: center;
}